<div class="forgotpassword">
  <div class="container">
    <div class="columns is-centered form-container-to-vcenter is-vcentered">
      <div class="column is-one-third">
        <div class="box">
          <h2 class="has-text-centered" style="padding:40px"><strong>Forgot your password?</strong></h2>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
                </div>

                <div class="actions">
                  <%= f.submit "Send me reset password instructions", class: "button is-info" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
