<div class="container">
  <div class="columns is-centered form-container-to-vcenter is-vcentered">
    <div class="column is-one-third">
      <div class="box">
        <%= form_for @athlete do |f| %>

        <%# PROFILE PHOTO %>
        <%= f.label :profile_photo, 'Profile Photo', class:'label'%>
        <%= f.file_field :profile_photo %>
        <%= f.hidden_field :profile_photo_cache %>

        <%# COVER PHOTO %>
        <%= f.label :cover_photo, 'Cover Photo', class:'label'%>
        <%= f.file_field :cover_photo %>
        <%= f.hidden_field :cover_photo_cache %>


        <%# FIRST NAME %>
        <%= f.label :first_name, 'First Name', class:'label'%>
        <%= f.text_field :first_name, class:"input", type: "text", placeholder: "John" %>

        <%# LAST NAME %>
        <%= f.label :last_name, 'Last Name', class:'label'%>
        <%= f.text_field :last_name, class:"input", type: "text", placeholder: "Doe" %>

        <%# CPF %>
        <%= f.label :cpf, 'CPF', class:'label'%>
        <%= f.text_field :cpf, class:"input", type: "text", placeholder: "36577572716" %>

        <%# DATE OF BIRTH %>
        <%= f.label :birth_date, 'Date of Birth', class:'label'%>
        <%= f.date_field :birth_date, as: :date, value: f.object.try(:strftime, "%d/%m/%Y"), class:"input", placeholder: "18/07/1997" %>

        <%# ACHIEVEMENTS %>
        <%= f.label :achievements, 'Achievements', class:'label'%>
        <%= f.text_field :achievements, class:"input", placeholder: "Tell us your achievements's date, description, etc" %>
        <div style="margin: 5px">
          <%= f.submit "Save", class: "button is-link" %>
          <%= link_to "Cancel", all_brands_path, class: "button is-text" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
