<div class="container">
  <div class="columns is-multiline">
    <% @athletes.each do |athlete| %>
      <%= link_to athlete_path(athlete) do %>
        <div class="column is-three-quarters-mobile is-half-tablet is-one-third-desktop">
          <div class="card my-card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= cl_image_tag athlete.cover_photo, style:"border-radius: 12px 12px 0 0"%>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= cl_image_tag athlete.profile_photo.url(:bright_face) %>
                  </figure>
                  <br>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= athlete.first_name.capitalize + ' ' + athlete.last_name %></p>
                  <p class="subtitle is-6">Run for your life</p>
                </div>
              </div>
              <div class="content">
                <br>
                <p class="athlete-content"><strong>Athlete Email: </strong><%= athlete.user.email %></p>
                <p class="athlete-content"><strong>Athlete Address: </strong><%= athlete.user.address %></p>
                <a href="#"></a> <a href="#"></a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <%= render 'interests/brand_interest', athlete: athlete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
