<div class="container is-fullhd">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">

        <div class="cover-Photo">
          <%= cl_image_tag @athlete.cover_photo, height: 300, width: 700, crop: :fill, style:"border-radius: 12px 12px 12px 12px"%>
        </div>

        <%= cl_image_tag @athlete.profile_photo.url(:bright_face) %>

        <p>
          <%= @athlete.first_name.capitalize %> <%= @athlete.last_name.capitalize %>
        </p>

        <p>
          <%= @athlete.birth_date %>
        </p>

        <p>
          <%= @athlete.cpf %>
        </p>

        <% if policy(@athlete).edit? %>
        <%= link_to "Edit profile", edit_athlete_path(@athlete), class: 'button is-small' %>
        <% end %>

        <% if policy(@athlete).destroy? %>
        <%= link_to 'Delete profile', @athlete, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' %>
        <% end %>

        <%= link_to "Back", :root, class: 'button is-small' %>
      </div>
    </div>
  </div>
</div>
