<div class="container is-fullhd">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <p>
          <span class="athlete">
          <%= @athlete.first_name %> <%= @athlete.last_name %>
        </span>
        </p>

        <p>
          <%= @athlete.birth_date %>
        </p>

        <p>
          <%= @athlete.cpf %>
        </p>

        <% if policy(@athlete).edit? %>
        <%= link_to "Edit profile", edit_athlete_path(@athlete), class: 'button is-small' %>
        <% end %>

        <% if policy(@athlete).destroy? %>
        <%= link_to 'Delete profile', @athlete, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' %>
        <% end %>

        <%= link_to "Back", :root, class: 'button is-small' %>
      </div>
    </div>
  </div>
</div>
