<div class="container is-fullhd">
  <div class="notification">
    <p>
      <strong>Name:</strong>
      <%= @athlete.first_name %> <%= @athlete.last_name %>
    </p>

    <p>
      <strong>Birth Date:</strong>
      <%= @athlete.birth_date %>
    </p>

    <p>
      <strong>CPF:</strong>
      <%= @athlete.cpf %>
    </p>

    <% if policy(@athlete).edit? %>
      <p> <%= link_to "Edit profile", edit_athlete_path(@athlete) %></p>
    <% end %>

    <% if policy(@athlete).destroy? %>
      <p><%= link_to 'Delete profile', @athlete, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>

    <p> <%= link_to "Back to Athletes", :root %></p>
  </div>
</div>
