<div class="container">
  <div class="columns is-multiline">
    <% @brands.each do |brand| %>
      <%= link_to brand_path(brand) do %>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
          <div class="card my-card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random" alt="Placeholder image" style="border-radius: 12px 12px 0 0 ">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= cl_image_tag brand.profile_photo.url(:thumnail) %>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= brand.name.capitalize %></p>
                  <p class="subtitle is-6"><%= brand.slogan.capitalize %></p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2017</time>
              </div>
              <% unless current_user.athlete.nil? %>
                <!-- if both parts' interests are true -->
                <% if current_user.athlete.is_interested?(brand, current_user.athlete) && brand.is_interested?(brand, current_user.athlete) %>
                  <div class="interest">
                    FUCKING MATCH!!!
                  </div>
                <!-- if current part is interested (but may want to undo) and third one is not yet-->
                <% elsif current_user.athlete.is_interested?(brand, current_user.athlete) && !brand.is_interested?(brand, current_user.athlete) %>
                  <div class="interest">
                    <%= link_to "interests/#{Interest.where(brand_id: brand, athlete_id: current_user.athlete).first.id}", method: 'DELETE' do %>
                      <%= icon('fas', 'star') %>
                    <% end %>
                  </div>
                <!-- if there is no interest in place yet -->
                <% elsif Interest.where(brand_id: brand, athlete_id: current_user.athlete).first.nil? %>
                  <div class="interest">
                    <%= link_to interests_path(brand_id: brand), method: 'POST' do %>
                      <%= icon('far', 'star') %>
                    <% end %>
                  </div>
                <!-- all other cases (specially when interest is created )  -->
                <% else %>
                  <div class="interest">
                    <%= link_to interest_path(id: Interest.where(brand_id: brand, athlete_id: current_user.athlete).first.id, brand_id: brand, athlete_interest: true), method: 'PATCH' do %>
                      <%= icon('far', 'star') %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
