<div class="container">
  <div class="columns is-multiline">
    <% @brands.each do |brand| %>
      <%= link_to brand_path(brand) do %>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
          <div class="card my-brand-card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://source.unsplash.com/48x48/?profile" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= brand.name.capitalize %></p>
                  <p class="subtitle is-6"><%= brand.slogan.capitalize %></p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2017</time>
              </div>
              <div class="interest">
                <%= link_to interests_path(brand_id: brand), method: 'POST' do %>
                    <%= fa_icon "heart" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
