<div class="container">
  <div class="columns is-multiline">
    <% @brands.each do |brand| %>
      <%= link_to brand_path(brand) do %>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
          <div class="card my-card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= cl_image_tag brand.cover_photo, style:"border-radius: 12px 12px 0 0"%>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= cl_image_tag brand.profile_photo.url(:thumnail), style:"border-radius: 10px 10px 10px 10px" %>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= brand.name.capitalize %></p>
                  <p class="subtitle is-6"><%= brand.slogan.capitalize %></p>
                </div>
              </div>
              <div class="content">
                <a href="#"></a> <a href="#"></a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2017</time>
              </div>
            </div>
            <%= render 'interests/athlete_interest', brand: brand %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
