<div class="container is-fullhd">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <p>
          <strong>Brand Name:</strong>
          <%= @brand.name %>
        </p>

        <p>
          <strong>Brand Slogan:</strong>
          <%= @brand.slogan %>
        </p>

        <p>
          <strong>CNPJ:</strong>
          <%= @brand.cnpj %>
        </p>

        <% if policy(@brand).edit? %>
          <%= link_to "Edit profile", edit_brand_path(@brand), class: 'button is-small' %>
        <% end %>

        <% if policy(@brand).destroy? %>
          <%= link_to 'Delete profile', @brand, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' %>
        <% end %>

        <%= link_to "Back", :root, class: 'button is-small' %>
      </div>
    </div>
  </div>
</div>
